.info-card{
    padding:0 5px;
    border-radius: 5px;
}

.info-primary{
    background-image:linear-gradient(#17d255, #15a103) ;
}
.info-dark{
    background-color: #101113;
}
.info-icon{
    font-size:3em;
}

.info-container{
    height:100px;
    padding:30px;
}