
nav ul> li> a{
   font-weight: 500;
   color:black
}
.text-logo{
 
 font-weight: 700;
 color:#12aa33;

}
.navhovers{

 position: relative;
}

.navhovers::after{
content:'';
position:absolute ;
left:0;
bottom:0;
width:100%;
height: 2px;
background:#09a12a  ;
transform: scaleX(0);
transform-origin:right ;
transition: transform 250ms ease-in;

}
.navhovers:hover:after{
 transform: scaleX(1);
 transform-origin:left ;
}

.text-brands{
 font-size: 30px;
 color:rgb(2, 2, 2);
}