.btn-brand{
    background-image:linear-gradient(#17D2BE, #4FDCE8) ;
    border: none;
    padding: 10px 35px;
    color:white;
    font-weight: 700;

}
.text-brand{
    color:#4FDCE8;
}
.text-font{
    color: #3D4457;
}