.btn-brand{
    background-image:linear-gradient(#6dcf46,#24a00c) ;
    border: none;
    padding: 10px 35px;
    color:white;
    font-weight: 700;
    border-radius: 3px;
    border-color: transparent;

}
.text-brand{
    color:#118a17;
}
.text-font{
    color: #3D4457;
}
.doctors{
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.534);
    border-radius: 5px;
    
}